		html {
    		height: 100%
		}		
		body{
			background-image: url(bg.jpg);
			background-size: cover;
			background-repeat: no-repeat;
			width: 100%;
			height: auto;
			background-position:50% 100%;
		}
		article{
			position: absolute;
			top: var(--size);
			left: 50%;
			margin-left: var(--minusSize);
			background-color: var(--colorA);
			z-index: 21;
			width:0;
			height:0;
			transition: all .4s ease;
		}
		article.active{
			overflow: scroll;
			width: var(--bigSize);
			height: var(--bigSize);
		}
		.text{
			padding: 10px;
			color: white;
		}
		:root{
			--size: calc(100vh/4);
			--Lsize: calc(100vw/-2);
			--minusSize: calc(100vh/-4);
			--bigSize: calc(var(--size) * 2);
			--menuSize: calc(var(--bigSize) / 3);
			--colorA: #996A3C;
			--colorB: #993189;
			--colorC: #625498;
			--colorD: #579955;
		}

		.cube-center{
			width: calc(2*var(--size));
			margin-top: var(--size);
			margin-left: 50%;
			left: var(--minusSize);
			position: absolute;
		}
		.cube {
			position: absolute;
			width: var(--size);
			height: var(--size);
			top: var(--size);
			left: 50%;
			transition: all .4s ease;
			z-index: 10;
			overflow: hidden;
		}
		.cubeA{
			background-color: var(--colorA);
			margin-left: var(--minusSize);
		}
		.cubeB{
			background-color: var(--colorB);	
		}
		.cubeC{
			background-color: var(--colorC);
			margin-top: var(--size);
			margin-left: var(--minusSize);
		}
		.cubeD{
			background-color: var(--colorD);
			margin-top: var(--size);
		}
		.letter{
			width: var(--size);
			margin: 0;
			transition: all .4s ease;
		}
		.home{
			width: var(--size);
			height: var(--size);
			top: 0 !important;
			left: 0 !important;
			z-index: 20 !important;
			position: fixed;
		}
		.st0{
			fill: white;
		}
		.menu-text{
			position: absolute;
			left: 0;
			bottom: 10px;
			text-align: center;
			width: 100%;
			font-size: 1.5vh;
		}
		.content{
			position: relative;
			overflow: hidden;
			top: var(--size);
			left: 50%;
			margin-left: var(--minusSize);
			background-color: var(--colorD);
			z-index: 20;
			width:0;
			height:0;
			transition: all .4s ease;
		}
.cstm-menu{
	width: var(--menuSize);
	height: var(--menuSize);
	background: gray;
	float: left;
	font-size: 2vh;
	text-align: center;
	color: white;
}
.csmt-menu a{
	color: white;
	text-decoration: none;
}
.cstm-menu.long{
	width: calc(var(--menuSize) * 2);
}
.vcenter {
	line-height: calc(var(--menuSize));
}

.empty-block{
	width: var(--menuSize);
	height: var(--menuSize);
	background: transparent;
	float: left;
}
.content.active{
		left: auto;
		width: var(--bigSize);
		height: var(--bigSize);
		margin-left: auto;
		margin-right: auto;
}
.close{
	width: calc(var(--menuSize) / 4);
	height: calc(var(--menuSize) / 4);
	line-height: calc(var(--menuSize) / 4);
	background: white;
	text-align: center;
	opacity: 1;
}
.close:hover{
	opacity: 1;
}
.cube {
	color: white;
	fill: currentColor;
}
.letter{

}