html {
    height: 100%
}
body {
    background-image: url(bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    background-position: 50% 100%;
}
article {
    position: absolute;
    top: var(--size);
    left: 50%;
    margin-left: var(--minusSize);
    background-color: #d9d4ab;
    z-index: 21;
    width: 0;
    height: 0;
    transition: all .4s ease;
}
article.active {
    overflow: scroll;
    width: var(--bigSize);
    height: var(--bigSize);
}
.text {
    padding: 10px;
    color: #333;
    padding-top: calc(var(--menuSize) / 2);
}
:root {
    --size: calc(100vh/4);
    --Lsize: calc(100vw/-2);
    --minusSize: calc(100vh/-4);
    --bigSize: calc(var(--size) * 2);
    --menuSize: calc(var(--bigSize) / 3);
    --colorA: #996A3C;
    --colorB: #993189;
    --colorC: #625498;
    --colorD: #579955;
}
.cube-center {
    width: calc(2*var(--size));
    margin-top: var(--size);
    margin-left: 50%;
    left: var(--minusSize);
    position: absolute;
}
.cube {
    position: absolute;
    width: var(--size);
    height: var(--size);
    top: var(--size);
    left: 50%;
    transition: all .4s ease;
    z-index: 10;
    overflow: hidden;
}
.cubeA {
    background-color: var(--colorA);
    margin-left: var(--minusSize);
}
.cubeB {
    background-color: var(--colorB);
}
.cubeC {
    background-color: var(--colorC);
    margin-top: var(--size);
    margin-left: var(--minusSize);
}
.cubeD {
    background-color: var(--colorD);
    margin-top: var(--size);
}
.letter {
    width: var(--size);
    margin: 0;
    transition: all .4s ease;
}
.home {
    width: var(--size);
    height: var(--size);
    top: 0 !important;
    left: 0 !important;
    z-index: 20 !important;
    position: fixed;
}
.st0 {
    fill: white;
}
.menu-text {
    position: absolute;
    left: 0;
    bottom: 10px;
    text-align: center;
    width: 100%;
    font-size: 1.5vh;
}
.content {
    position: relative;
    overflow: hidden;
    top: var(--size);
    left: 50%;
    margin-left: var(--minusSize);
    background-color: #2d5666;
    z-index: 20;
    width: 0;
    height: 0;
    transition: all .4s ease;
}
.cstm-menu {
    width: var(--menuSize);
    height: var(--menuSize);
    float: left;
    font-size: 1.5vh;
    text-align: center;
    color: white;
    font-weight: 200;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    transition: all .2s ease;
    cursor: pointer;
}
.cstm-menu:hover {
    background-color: #d9d4ab;
    color: #2d5666;
}
.csmt-menu a {
    color: white;
    text-decoration: none;
}
.cstm-menu.long {
    width: calc(var(--menuSize) * 2);
}
.vcenter {
    line-height: calc(var(--menuSize));
}
.empty-block {
    width: var(--menuSize);
    height: var(--menuSize);
    background: transparent;
    float: left;
}
.content.active {
    left: auto;
    width: var(--bigSize);
    height: var(--bigSize);
    margin-left: auto;
    margin-right: auto;
}
.close-me,
.close-small {
    cursor: pointer;
    width: calc(var(--menuSize) / 2);
    height: calc(var(--menuSize) / 2);
    line-height: calc(var(--menuSize) / 2);
    background: white;
    text-align: center;
    opacity: 1;
    z-index: 22;
    top: 0;
    right: 0;
    color: #2d5666;
    font-weight: 200;
    font-size: 3vh;
    position: absolute;
    transition: background .2s ease;
}
.close-me:hover,
.close-small:hover {
    background: rgba(237, 236, 236, 1.00);
}
.cube {
    color: white;
    fill: currentColor;
}
.stik {
    position: fixed;
}
.um,
.us,
.ur,
.ii,
.ip,
.ib,
.bb,
.bc,
.bs,
.bu,
.wu,
.ws,
.wr {
    background-color: #2d5666;
}
.a1,
.a2,
.a3,
.a4,
.b1,
.b2,
.b3,
.b4,
.c1,
.c2,
.c3,
.c4,
.d1,
.d2,
.d3,
.d4 {
    background-size: cover;
}
.a1 {
    background-image: url("img/Ebene5.png");
}
.a2 {
    background-image: url("img/Ebene4.png");
}
.a3 {
    background-image: url("img/Ebene3.png");
}
.a4 {
    background-image: url("img/Ebene2.png");
}
.b1 {
    background-image: url("img/Office1.png");
}
.b2 {
    background-image: url("img/Office2.png");
}
.b3 {
    background-image: url("img/Office3.png");
}
.b4 {
    background-image: url("img/Office4.png");
}
.c1 {
    background-image: url("img/Group1.png");
}
.c2 {
    background-image: url("img/Group2.png");
}
.c3 {
    background-image: url("img/Group3.png");
}
.c4 {
    background-image: url("img/Group4.png");
}
.d1 {
    background-image: url("img/Contract1.png");
}
.d2 {
    background-image: url("img/Contract2.png");
}
.d3 {
    background-image: url("img/Contract3.png");
}
.d4 {
    background-image: url("img/Contract4.png");
}
.blue-head {
    height: calc(var(--menuSize) / 2);
    width: var(--bigSize);
    color: white;
    background-color: #2d5666;
    padding: 10px 20px;
    font-size: 3.2vh;
    line-height: 2.2;
}
.marti-constul{
	position: absolute;
	z-index: 0;
}